{% extends "./boilerplate/boilerplate.html" %} {% block title %}{{product.name}}- Walksy{% endblock %}
<style>
  .hover-zoom {
    overflow: hidden;
    border-radius: 10px;
  }

  .hover-zoom img {
    transition: transform 0.4s ease;
  }

  .hover-zoom img:hover {
    transform: scale(1.05); /* Slight zoom */
  }
</style>

{% block content %}
<div class="container my-5">
  <div class="row g-4">
    <div class="col-md-6 h-50 w-50 hover-zoom">
      <img
        src="{{ url_for('static', filename=product.image_url) }}"
        alt="{{ product.name }}"
        class="img-fluid shadow img w-50 h-40"
      />
    </div>
    <div class="col-md-6">
      <h2>{{ product.name }}</h2>
      <h4 class="text-success mb-3">₹ {{ product.price }}</h4>
      <p><strong>Brand : </strong> {{ product.brand }}</p>
      <p><strong>Category : </strong> {{ product.category }}</p>
      <p>
        <strong>Size : </strong> {{ product.size }}
        &nbsp;&nbsp;&nbsp;&nbsp;<strong> Color : </strong> {{ product.color }}
      </p>
      <p class="text-muted">{{ product.description }}</p>

      
      {% if current_user.is_admin and current_user.is_authenticated%}
        <p class="text-danger">you are an admin you can't Buy anything </p>
      {% endif %}
        
      {% if not current_user.is_admin %}
      <div class="mt-4 d-flex gap-3">
        <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#buyModal"
        >
        Buy Now
      </button>
      {% endif %}
      
      <!-- Modal -->
      <div class="modal fade" id="buyModal" tabindex="-1">
          <div class="modal-dialog">
            <form
            method="POST"
            action="{{ url_for('place_order', product_id=product.id) }}"
            >
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Confirm Order</h5>
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                ></button>
              </div>
              <div class="modal-body">
                <p><strong>Price:</strong> ₹{{ product.price }}</p>
                <div class="mb-3">
                  <label for="address" class="form-label">Address</label>
                    <textarea
                      class="form-control"
                      name="address"
                      required
                    ></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="payment_method" class="form-label">Payment Method</label>
                    <select class="form-select" name="payment_method" required>
                      <option value="COD">Cash on Delivery</option>
                      <option value="Online">Online</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">
                    Place Order
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
    {% if not current_user.is_admin %}
        <a
          href="{{ url_for('add_to_cart', product_id=product.id) }}"
          class="btn"
          >Add to Cart</a
        >
    {% endif %}    
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
