{% extends "./boilerplate/boilerplate.html" %} 
{% block title %}Walksy - Signup{% endblock %} 

{% block content %}
  <div class="form-container">
    <h2 class="p-2" >Sign up on Walksy</h2>
    <form
      method="POST"
      action="/signup"
      novalidate
      class="row g-3 needs-validation p-3"
    >
      <div class="col-12">
        <label for="Username" class="form-label">Enter Username</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="Username"
          required
          placeholder="Enter Username"
        />
        <div class="invalid-feedback">Enter Valid Username</div>
      </div>

      <div class="col-12">
        <label for="Email" class="form-label">Enter Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="Email"
          required
          placeholder="example@xyz.com"
        />
        <div class="invalid-feedback">Enter Valid Email</div>
      </div>

      <div class="col-12">
        <label for="Password" class="form-label">Enter Password</label>
        <input
          type="Password"
          class="form-control"
          name="password"
          id="Password"
          required
          placeholder="xyz@123"
        />
        <div class="invalid-feedback">Enter Valid Password</div>
      </div>

      <div class="col-4">
        <button type="submit" class="btn mb-2">Join us</button>
      </div>
      <div>Already have an account? click here, <a href="/login">Login</a></div>
    </form>
    <div>
      <script src="../static/script.js"></script>
    </div>
</div>

{% endblock %}